* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    135deg,
    #020617,
    #0f172a
  );

  font-family: Arial, sans-serif;

  min-height: 100vh;

  color: white;
}

a {
  text-decoration: none;
}

button {
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}